@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Estilo do cabeçalho */
.logo
{
  color:white ;
  z-index: 1;
 }

header
{
 position: absolute;
 top: 0;
 left: 0;
 width: 97.4%;
 padding: 5px 25px;
 display: flex;
 justify-content: space-between;
 align-items: center;
 background: transparent;
 height: 8vh;
 z-index: 0;
}

/* Estilo da navegação */
nav {
    margin-top: 10px;
}

nav ul
{
 display: flex;
 justify-content: center;
 align-items: center;
 font-family: 'Poppins', sans-serif;
}
nav ul
{
  list-style: none;
  position: absolute;
  margin-left: -350px;
  transform: translateY(-30px);
}
nav ul li a
{
  text-decoration: none;
  padding: 5px 15px;
  color: rgb(255, 255, 255)
}
nav ul li a:hover,
nav ul li a.active
{
  background: transparent;
  color: rgb(231, 231, 231);
}
#background-video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

