@font-face {
    font-family: saveurSans;
    src: url(fonts/Saveur_sans.otf);
  }
  
  @font-face {
    font-family: jost;
    src: url(fonts/Jost.ttf);
  }
  
  @font-face {
    font-family: jost_light;
    src: url(fonts/Jost_light.ttf);
  }
  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

:root{
    --bg-color:var(--bg-color) #1d2631;
    --tex-color: #fff;
    --main-color: #ffffff;
    --other-color: #fcfcfc;
    --h1-font: 4rem;
    --p-font: 1rem;
}


body{
    background-color:#e7e7e7 ;
    color: var(--tex-color);
}



.hr {
    border: none;
    border-top: 0.5px solid rgba(128, 128, 128, 0.421);
    margin: 35px 0 35px;
  }
  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 90px;
    background: transparent;
    padding: 0px 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    transition: 0.7s;
    z-index: 1000;
  }
  
  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar ul li {
    list-style: none;
  }
  
  .navbar ul li a {
    font-family: 'Poppins', sans-serif;
    color: rgb(0, 0, 0);
    padding: 0 12px;
    font-size: 0.8em;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .navbar .brand {
    font-family: cinzelDecorative;
    font-size: 1.8em;
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .navbar i.fa-bars,
  .navbar i.fa-magnifying-glass {
    color: white;
    font-size: inherit;
    transition: color 0.3s;
  }
  
  .navbar:hover i.fa-bars,
  .navbar:hover i.fa-magnifying-glass,
  .navbar.scrolled i.fa-bars,
  .navbar.scrolled i.fa-magnifying-glass {
    color: black;
  }
.section{

    padding: 0 15%;
}
.home{
    position: relative;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

.home-text h1{
    font-size: var(--h1-font);
    line-height: 1.2;
    margin-bottom: 2px;
    color: black;
    transform: translate(200px);
}

.home-text h5{
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 60px;
    color: #000000;
    transform: translate(200px);
}

.home-text h3{
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 35px;
    color: #000000;
    transform: translate(200px,-50px);
}


.home-img img{
    max-width: 100%;
    width: 28rem;
    height: auto;
    margin-left: 25%;
    background-color: #ffffff;
    border-radius: 50px;
    transform: translateX(200px);
}


.home-text button {
    position: absolute;
    top: 65%;
    left: 66.5%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: rgb(0, 0, 0);
    padding: 15px 40px;
    font-size: 15px;
    background-color: #ffffff;
    backdrop-filter: blur(45px);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 30px;
    cursor: pointer;
    transition: 0.2s;
  
  }
  
.home-text button:hover {
    box-shadow: inset 0 0 0 1px rgb(0, 0, 0);
  }
  

.main{
    position: absolute;
    top: 50%;
    left: 3%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.main li img{
    width: 50px;
    height: auto;
    max-width: 100%;
}

.row{
    background: var(--main-color);
    height: 70px;
    width: 70px;
    border-radius: 50%;
    justify-content: center;
    transition: all.55s ease;
    cursor: pointer;
    display: inline-flex;
    transform: translateX(250px);
}

.row2{
    background: #ffffff;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all.55s ease;
    cursor: pointer;
    transform: translateX(250px);
}
.row3{
    background: #ffffff;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all.55s ease;
    cursor: pointer;
    transform: translateX(250px);
}